
/* default.css */

/* @import url('https://fonts.googleapis.com/css?family=MedievalSharp'); */

html {
    height: 100%;

    font-family: "MedievalSharp", "Monotype Corsiva", "URW Chancery L", "Apple Chancery", serif;
    /* note: cursive fallback would usually mean Comic Sans on Win & Mac platforms */
    font-weight: 700;
    font-size: 120%;

    cursor: url( "../img/pointer.png" ), auto;
}

body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    position: absolute;
    top: 0;
}

#main-panel {
    height: 100%;

    background: url( "../img/brickBlack2.png" );
    color: #eee;
}

#title-panel {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-caption {
    padding: 14px;
    font-size: 2em;

    display: none;
}

#loading-panel-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background: #fff;
    
    transition: opacity 1s;

    pointer-events: none;
}

#loading-panel {
    transition: opacity 0.2s;
    text-align: center;
    margin: 0 auto;
    width: 100%;

    font-size: 200%;
    color: #fff;
}

#loading-panel > div {
    position: relative;
    margin-top: 10%;
    width: 30%;
    margin: 5% auto;
    border: 2px rgba( 0, 0, 0, 0.5 ) solid;

    opacity: 0.0;
    transition: opacity 1s;
}

.loading-panel-progress-bar {
    position: absolute;
    height: 100%;
    z-index: -1;
    transition: width 0.2s;
}

#loading-panel-scripts > .loading-panel-progress-bar {
    /* background: #8df; */
    background: url( "../img/brickBrown.png" );
}

#loading-panel-data > .loading-panel-progress-bar {
    /* background: #0f0; */
    background: url( "../img/brickBlack.png" );
}

#loading-panel-audio > .loading-panel-progress-bar {
    /* background: #ff0; */
    background: url( "../img/lava.png" );
}

.loading-panel-caption {
    padding: 14px;
}
