
/* tower.css */

#top-panel, /* #stat-panel, */ #inventory-panel, #game-panel {
    margin: 0 auto;
}

#stat-panel {
    padding-left: %%tileSizeX%%px;
}

#board-background, #board-foreground, #board-overlay {
    position: absolute;
    line-height: 0;
}

#board-overlay {
    pointer-events: none;
}

#game-panel, #inventory-panel {
    position: relative;
}

#config-button {
    background: url( "img/gears-white.png" );
    background-size: contain;
    height: 32px;
    width: 32px;

    margin-right: calc( %%tileSizeX%%px / 2 );

    float: right;
}

#stat-panel, #config-button {
    display: inline-block;
}

#top-panel {
    padding-top: calc( %%tileSizeY%%px / 2 );
}

#inventory-panel {
    height: %%tileSizeY%%px;
    padding: calc( %%tileSizeY%%px / 2 ) 0;
    z-index: 1;
}

.inventory-row {
    position: relative;
}

.tile {
    width: %%tileSizeX%%px;
    height: %%tileSizeY%%px;
    display: inline-block;
    position: absolute;
    transition: opacity 1s;
}

.tile > div {
    height: 100%;
    background-image: url( "img/tiles1.png" );
}

.tile-type-undefined {
    opacity: 0;
    transition: none;
}

.tile-type-12 > div {
    animation: lavaAnim 1s infinite step-end;
}

.tile-type-4 > div {
    animation: slideRightAnim 1s infinite alternate;
    z-index: 0;
}

/*
.tile-type-20 {
    transition: all 1s;
}
*/

.tile-type-20 > div {
    animation: rogueAnim 1s infinite step-end;
    /* filter: hue-rotate(90deg); */
}

.tile-type-22 > div {
    animation: fadeAnim 1s infinite alternate;
}

.tile-type-31 > div {
    animation: shakeAnim 1s infinite;
}

.tile-type-48 > div {
    animation: scaleAnim 1s infinite alternate;
}

.tile-type-76 > div {
    animation: skeletonAnim 1s infinite step-end;
}

.tile-type-78 > div {
    animation: skewAnim 1s infinite;
}

@keyframes skeletonAnim {
    0%   { background-position: calc( 10 * -%%tileSizeX%%px ) calc(  6 * -%%tileSizeY%%px ); transform: skewX(  5deg ); }
    50%  { background-position: calc(  0 * -%%tileSizeX%%px ) calc(  7 * -%%tileSizeY%%px ); transform: skewX( -5deg ); }
}

@keyframes rogueAnim {
    0%   { background-position: calc(  9 * -%%tileSizeX%%px ) calc(  1 * -%%tileSizeY%%px ); }
    50%  { background-position: calc( 10 * -%%tileSizeX%%px ) calc(  1 * -%%tileSizeY%%px ); }
}

@keyframes scaleAnim {
    0%   { transform: scale( 1.0 ); }
    100% { transform: scale( 1.5 ); }
}

@keyframes skewAnim {
    0%   { transform: skewX( 0 ); }
    50%  { transform: skewX( 0 ); }
    60%  { transform: skewX( -15deg ); }
    65%  { transform: skewX( 15deg ); }
    70%  { transform: skewX( -10deg ); }
    75%  { transform: skewX( 10deg ); }
    85%  { transform: skewX( -5deg ); }
    90%  { transform: skewX( 5deg ); }
    100% { transform: skewX( 0 ); }
}

@keyframes lavaAnim {
    0%   { background-position: calc(  1 * -%%tileSizeX%%px ) calc(  1 * -%%tileSizeY%%px ); }
    50%  { background-position: calc(  5 * -%%tileSizeX%%px ) calc( 14 * -%%tileSizeY%%px ); }
}

@keyframes slideRightAnim {
    0%   { transform: translateX( 0 ); }
    100% { transform: translateX( %%tileSizeX%%px ); }
}

@keyframes slideLeftAnim {
    0%   { transform: translateX( 0 ); }
    100% { transform: translateX( -%%tileSizeX%%px ); }
}

@keyframes slideDownAnim {
    0%   { transform: translateY( 0 ); }
    100% { transform: translateY( %%tileSizeY%%px ); }
}

@keyframes slideUpAnim {
    0%   { transform: translateY( 0 ); }
    100% { transform: translateY( -%%tileSizeY%%px ); }
}

@keyframes halfSlideRightAnim {
    0%   { transform: translateX( 0 ); }
    100% { transform: translateX( calc( %%tileSizeX%%px / 2 ) ); }
}

@keyframes halfSlideLeftAnim {
    0%   { transform: translateX( 0 ); }
    100% { transform: translateX( calc( -%%tileSizeX%%px / 2 ) ); }
}

@keyframes halfSlideDownAnim {
    0%   { transform: translateY( 0 ); }
    100% { transform: translateY( calc( %%tileSizeY%%px / 2 ) ); }
}

@keyframes halfSlideUpAnim {
    0%   { transform: translateY( 0 ); }
    100% { transform: translateY( calc( -%%tileSizeY%%px / 2 ) ); }
}

@keyframes attackRightAnim {
    0%   { transform: translateX( 0 ); }
    25%  { transform: translateX( %%tileSizeX%%px ); }
    50%  { transform: translateX( 0 ); }
    75%  { transform: translateX( calc( -%%tileSizeX%%px / 2 ) ); }
    100% { transform: translateX( 0 ); }
}

@keyframes attackLeftAnim {
    0%   { transform: translateX( 0 ); }
    25%  { transform: translateX( -%%tileSizeX%%px ); }
    50%  { transform: translateX( 0 ); }
    75%  { transform: translateX( calc( %%tileSizeX%%px / 2 ) ); }
    100% { transform: translateX( 0 ); }
}

@keyframes attackDownAnim {
    0%   { transform: translateY( 0 ); }
    25%  { transform: translateY( %%tileSizeY%%px ); }
    50%  { transform: translateY( 0 ); }
    75%  { transform: translateY( calc( -%%tileSizeY%%px / 2 ) ); }
    100% { transform: translateY( 0 ); }
}

@keyframes attackUpAnim {
    0%   { transform: translateY( 0 ); }
    25%  { transform: translateY( -%%tileSizeY%%px ); }
    50%  { transform: translateY( 0 ); }
    75%  { transform: translateY( calc( %%tileSizeY%%px / 2 ) ); }
    100% { transform: translateY( 0 ); }
}

@keyframes defendRightAnim {
    0%   { transform: translateX( 0 ); }
    25%  { transform: translateX( calc( %%tileSizeX%%px / 2 ) ); }
    50%  { transform: translateX( 0 ); }
    75%  { transform: translateX( -%%tileSizeX%%px ); }
    100% { transform: translateX( 0 ); }
}

@keyframes defendLeftAnim {
    0%   { transform: translateX( 0 ); }
    25%  { transform: translateX( calc( -%%tileSizeX%%px / 2 ) ); }
    50%  { transform: translateX( 0 ); }
    75%  { transform: translateX( %%tileSizeX%%px ); }
    100% { transform: translateX( 0 ); }
}

@keyframes defendDownAnim {
    0%   { transform: translateY( 0 ); }
    25%  { transform: translateY( calc( %%tileSizeY%%px / 2 ) ); }
    50%  { transform: translateY( 0 ); }
    75%  { transform: translateY( -%%tileSizeY%%px ); }
    100% { transform: translateY( 0 ); }
}

@keyframes defendUpAnim {
    0%   { transform: translateY( 0 ); }
    25%  { transform: translateY( calc( -%%tileSizeY%%px / 2 ) ); }
    50%  { transform: translateY( 0 ); }
    75%  { transform: translateY( %%tileSizeY%%px ); }
    100% { transform: translateY( 0 ); }
}

@keyframes fadeAnim {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes shakeAnim {
    0%   { transform: rotate( 0 ); }
    50%  { transform: rotate( 0 ); }
    60%  { transform: rotate( -15deg ); }
    65%  { transform: rotate( 15deg ); }
    70%  { transform: rotate( -10deg ); }
    75%  { transform: rotate( 10deg ); }
    85%  { transform: rotate( -5deg ); }
    90%  { transform: rotate( 5deg ); }
    100% { transform: rotate( 0 ); }
}

@keyframes rotateRight {
    0%   { transform: rotate( 0 ); }
    100% { transform: rotate( 360deg ); }
}

@keyframes rotateLeft {
    0%   { transform: rotate( 360deg ); }
    100% { transform: rotate( 0 ); }
}
