/* tower.css */

html, body {
}

h1 {
    text-align: center;
}

#mainPanel {
    display: none;
}

#statPanel, #inventoryPanel, #gamePanel {
    margin: 0 auto;
    /* display: block; */
}

#statPanel, #inventoryPanel {
}

#boardBackground, #boardForeground {
    position: absolute;
    line-height: 0;
}

#gamePanel, #inventoryPanel {
    position: relative;
}

#inventoryPanel {
    height: %%tileY%%px;
    z-index: 1;
}

.tile {
    width: %%tileX%%px;
    height: %%tileY%%px;
    display: inline-block;
    position: absolute;
}

.tile > div {
    height: 100%;
    background-image: url( "../img/tiles1.png" );
}

.tile-type-undefined {
    opacity: 0;
}

.tile-type-12 {
    animation: lavaAnim 1s infinite step-end;
}

.tile-type-4 {
    animation: slideRightAnim 1s infinite alternate;
    z-index: 0;
}

.tile-type-22 {
    animation: fadeAnim 1s infinite alternate;
}

.tile-type-31 {
    animation: shakeAnim 1s infinite;
}

.tile-type-48 {
    animation: scaleAnim 1s infinite alternate;
}

.tile-type-76 {
    animation: skeletonAnim 1s infinite step-end;
}

.tile-type-78 {
    animation: skewAnim 1s infinite;
}

@keyframes skeletonAnim {
    0%   { background-position: calc( 10 * -%%tileX%%px ) calc(  6 * -%%tileY%%px ); transform: skewX(  5deg ); }
    50%  { background-position: calc(  0 * -%%tileX%%px ) calc(  7 * -%%tileY%%px ); transform: skewX( -5deg ); }
}

@keyframes scaleAnim {
    0%   { transform: scale( 1.0 ); }
    100% { transform: scale( 1.5 ); }
}

@keyframes skewAnim {
    0%   { transform: skewX( 0 ); }
    50%  { transform: skewX( 0 ); }
    60%  { transform: skewX( -15deg ); }
    65%  { transform: skewX( 15deg ); }
    70%  { transform: skewX( -10deg ); }
    75%  { transform: skewX( 10deg ); }
    85%  { transform: skewX( -5deg ); }
    90%  { transform: skewX( 5deg ); }
    100% { transform: skewX( 0 ); }
}

@keyframes lavaAnim {
    0%   { background-position: calc(  1 * -%%tileX%%px ) calc(  1 * -%%tileY%%px ); }
    50%  { background-position: calc(  5 * -%%tileX%%px ) calc( 14 * -%%tileY%%px ); }
}

@keyframes slideRightAnim {
    0%   { transform: translateX( 0 ); }
    100% { transform: translateX( %%tileX%%px ); }
}

@keyframes fadeAnim {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes shakeAnim {
    0%   { transform: rotate( 0 ); }
    50%  { transform: rotate( 0 ); }
    60%  { transform: rotate( -15deg ); }
    65%  { transform: rotate( 15deg ); }
    70%  { transform: rotate( -10deg ); }
    75%  { transform: rotate( 10deg ); }
    85%  { transform: rotate( -5deg ); }
    90%  { transform: rotate( 5deg ); }
    100% { transform: rotate( 0 ); }
}
